UPDATE products SET is_active = false WHERE id IN ('198ae6d7-9da6-4275-801c-4622d85f6d53','8d504a4e-af07-444d-b9f6-cff10cec0087','1136013f-7508-4799-86bb-721108c9ebfc','192f135c-6c18-467c-a01e-835adbeb717f','dcea0f38-bb46-478d-9b29-16f50f871f7f','3898efba-f1e2-4ad7-a6c6-5392215d7b85','4863c0f3-e3b5-4868-af3d-51b0af212f28','f6e9ccb6-844f-4b41-9c0b-e86e395a5ce4','66db1281-5c44-4404-a6c7-af0156c4e6bc','ab61e97b-a456-47cd-ad33-24072fdb444b','fed7a83f-0c1d-44f2-a008-5f9bdbe66129','a74caa58-1c72-43be-870c-f3d2723db4e4','aa30773b-ed7c-4701-a010-0860a8b5c7be','78c9559a-8e34-4686-a6a7-bd7de59edfbd','4e093513-d7f1-47be-b02a-7837cc9c6778','906b042b-c4f9-4a3f-b634-9bd1bf25b372','21c9f6ea-18bf-44c0-bece-1c561d0c96f2','758fa5f3-0742-424d-9c6d-98a52a0f03ad','15d1346d-850b-49e9-9bec-4e43bb14fd63');

UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier null  . ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '70a5f5fb-a660-4f06-981f-807941936568';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪ú╪▒╪╢┘è ╪│┘é┘ü┘è 2.25 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '8be9a51a-bf7a-4a52-b907-868a0525bc17';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ┘ü╪▒┘è ╪│╪¬╪º┘å╪» 5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'acc8ea7c-8e40-4763-9f8c-0996ba080e64';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ┘ü╪▒┘è ╪│╪¬╪º┘å╪» 7.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ┘ü┘é╪╖. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '2ec08dce-dd60-465a-8886-4810dc98769d';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 1.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ┘ü┘é╪╖. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'a2cf5ae6-c03e-49a9-905c-b01effb79e01';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 1.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ┘ü┘é╪╖. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'c0286e3c-f3a4-424e-b84a-acc9648f6625';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 1.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '95acf20c-38b1-42d9-9fb8-c728fe13e0de';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 1.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '666419c2-6dd6-4663-b09c-8192515252f8';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 1.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ┘ü┘é╪╖. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '2a28e29a-562d-4dc9-9f37-7a20404f3254';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 2.25 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ┘ü┘é╪╖. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '450585e6-84c7-4208-adc6-95a049a083a2';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 2.25 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ┘ü┘é╪╖. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '75dc3f8d-b9c6-4ec6-9a65-ceed47e696ba';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 2.25 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'c6b373c7-f184-47f7-a667-55e9d494c33f';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 2.25 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '9c434285-e25c-498f-a885-6de0739927bd';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 2.25 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ┘ü┘é╪╖. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '492e13d5-2e71-4fa8-8535-316c5c77cd0c';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 3 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ┘ü┘é╪╖. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '92764a93-a1b9-4a44-bd93-c322ae522346';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 3 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '0a82d94a-a29a-4f2b-8166-f7da34f25c8d';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 3 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '218cb49a-1af1-44af-b49e-ef349f384614';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 3 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ┘ü┘é╪╖. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'dcf74667-f5dc-4f67-a1db-494b494d0a6a';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 3 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ┘ü┘é╪╖. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '8a60bb12-3131-4678-ba0f-af67c9886da2';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 4 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'c6341c48-fee8-4d51-9864-3c452fffb41e';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 4 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'd72bf34d-e082-4e5f-ad32-e05b2dc0c748';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'f3e936e9-e8f6-4a49-a0d2-263e7ce4258a';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ╪¡╪º╪ª╪╖┘è 5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '77ec683d-b8ec-4024-a7df-7ee964ddf142';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ┘â┘ê┘å╪│┘è┘ä╪» 1.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '8981515a-b819-4af7-80f1-4a417e8e3d90';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ┘â┘ê┘å╪│┘è┘ä╪» 1.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '1d129d3f-0d45-428e-960b-d7df2294d850';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ┘â┘ê┘å╪│┘è┘ä╪» 1.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'd7b67852-0b81-4d19-92ff-e0d007a65f07';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ┘â┘ê┘å╪│┘è┘ä╪» 1.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'f2d4adb2-485e-4f21-ac80-9e5c921f487d';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ┘â┘ê┘å╪│┘è┘ä╪» 1.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'f89c892e-cc6f-4e1b-8f30-8640f467e027';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ┘â┘ê┘å╪│┘è┘ä╪» 1.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'ce6a227a-374a-4ef1-9d88-1a3c6f2d958a';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ┘â┘ê┘å╪│┘è┘ä╪» 1.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'fd9c598b-19df-4090-884d-055eddf19f38';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ┘â┘ê┘å╪│┘è┘ä╪» 3 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'e43c417c-c1d2-4c0d-878b-1d0319e179e9';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ┘â┘ê┘å╪│┘è┘ä╪» 4 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'bfe51c8f-59d1-4ed5-8e58-5223f4324fa1';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Carrier ┘â┘ê┘å╪│┘è┘ä╪» 5.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '20f75074-ae34-4555-8506-5ada863d2b3f';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Midea ╪¡╪º╪ª╪╖┘è 1.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '0ca22287-4191-4ea2-be37-3497538ca0f5';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Midea ╪¡╪º╪ª╪╖┘è 2.25 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '86855b96-138e-450e-ae3e-b8a7dce56560';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Midea ╪¡╪º╪ª╪╖┘è 3 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'a830e1be-6081-404a-be48-14d53e8233d7';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Midea ╪¡╪º╪ª╪╖┘è 1.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ┘ü┘é╪╖. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '8c83d2bf-0af3-4048-9f7f-cd116b6cd238';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Midea ╪¡╪º╪ª╪╖┘è 1.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '15d55b19-8739-4f70-bbd7-9f309c2e7115';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Midea ╪¡╪º╪ª╪╖┘è 1.5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ┘ü┘é╪╖. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '507ca461-1818-4e9f-85bc-a55e60cb4ad6';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Midea ╪¡╪º╪ª╪╖┘è 2.25 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ┘ü┘é╪╖. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'ce0ca5e1-82e7-4069-a8d7-152d76366391';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Midea ╪¡╪º╪ª╪╖┘è 2.25 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'bcb2a1dd-4c0f-4854-a301-937aa2f48b00';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Midea ╪¡╪º╪ª╪╖┘è 2.25 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ┘ü┘é╪╖. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'fffd7118-c743-438e-aea0-177652a6923a';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Midea ╪¡╪º╪ª╪╖┘è 3 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ┘ü┘é╪╖. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'd8cfe6b4-17d9-4732-86e3-5561df58476b';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Midea ╪¡╪º╪ª╪╖┘è 3 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'ae5e35b1-0c7d-4806-bb3b-d178de5cf56b';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Midea ╪¡╪º╪ª╪╖┘è 3 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ┘ü┘é╪╖. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'fcc04a41-fd74-4fde-9ab8-e08fb3a04cbe';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Midea ╪¡╪º╪ª╪╖┘è 4 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '1ecc3563-f798-406e-b242-fdc1bef289a3';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Midea ╪¡╪º╪ª╪╖┘è 4 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '409ec40e-8737-4782-b79e-467f6fa2fd1c';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Midea ╪¡╪º╪ª╪╖┘è 5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = 'bf6576f0-eb93-4b9f-bc7c-4ec2a49405ff';
UPDATE products SET description = '╪¬┘â┘è┘è┘ü Midea ╪¡╪º╪ª╪╖┘è 5 ╪¡╪╡╪º┘å ╪¿╪º╪▒╪» ╪│╪º╪«┘å. ┘è╪¬┘à┘è╪▓ ╪¿╪¬┘â┘å┘ê┘ä┘ê╪¼┘è╪º ┘à╪¬╪╖┘ê╪▒╪⌐ ┘ä╪¬┘ê┘ü┘è╪▒ ╪º┘ä╪╖╪º┘é╪⌐ ┘ê╪¬╪¿╪▒┘è╪» ╪│╪▒┘è╪╣ ┘ê┘à╪½╪º┘ä┘è ┘ä┘ä╪ú╪¼┘ê╪º╪í ╪º┘ä╪¡╪º╪▒╪⌐. ╪¬╪╡┘à┘è┘à ╪╣╪╡╪▒┘è ┘è┘å╪º╪│╪¿ ╪¼┘à┘è╪╣ ╪º┘ä╪»┘è┘â┘ê╪▒╪º╪¬.' WHERE id = '3272828c-4c10-4075-87be-c01da93f11b8';

